@model APIService.Models.ClientRequest

@{
    ViewBag.Title = "Check";
}

<!Doctype html>
<html>
<head>
    <title>
        Test
    </title>
    <style>
        .box {
            padding : 35px 150px 30px 30px;
            text-align : center;
            font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .wrap {
            border : solid;

        }
        .tex
        {
            width : 50px;
        }
    </style>
    <script>
        document.getElementById('tbox').style.width = "200px";
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <br />
        <br />
        <div class="wrap">
            <p class="box">Enter URI: @Html.TextBoxFor(x => x.endPoint)</p>
        </div>
    }
</body>
</html>
