@model APIService.Models.FoodModel

<style>
    .tebox {
        border : thin;
        font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size : large;
        padding-left : 50px;
    }
    .wrap {
        padding-left : 50px;
        border : dashed;   
    }

</style>
@using (Html.BeginForm("FindFood", "Home", FormMethod.Post))
{
    <br />
    <br />
    
<div class="wrap">
    <br />
    <p class="tebox">What kind of food are you looking for? @Html.TextBoxFor(m => m.Eat) Ex: Burgers in Oklahoma City</p>
    <p class="tebox">In what city? @Html.TextBoxFor(m => m.City)</p>
    <div style="text-align : center; padding-right : 41em;">
    <input type="submit" value="submit"  />
    </div>
    <br />
</div>
}

