@model APIService.Models.FoodModel

<style>
    .tebox {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }

    .wrap {
        border: dashed;
        text-align: left;
        padding-left : 25em;
    }
</style>
<h2 style="text-align : center; padding-right : 3em; font-family : 'Trebuchet MS'">Find Food</h2>
@using (Html.BeginForm("FindFood", "Home", FormMethod.Post))
{
    

    <div class="wrap">
        <br />
        <p class="tebox">Ex: Burgers in Oklahoma City</p>
        <p class="tebox">What kind of food are you looking for? @Html.TextBoxFor(m => m.Eat) </p>
        <p class="tebox">In what city? @Html.TextBoxFor(m => m.City)</p>
        <div style="text-align : left;">
            <input type="submit" value="Submit" style="font-family : 'Trebuchet MS'; border : groove;" />
        </div>
        <br />
    </div>
}

