@model APIService.Models.ClientRequest

@{
    ViewBag.Title = "Response";
}
<style>
    .head {
        text-align : left;
        font-size : xx-large;
    }
</style>

<h1 class="head">Data:</h1>

    <p class="container">@Model.MakeRequest()</p>



