@model APIService.Models.WeatherProfile

@{
    ViewBag.Title = "Weather";
}
<style>
    .tebox {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    .wrap {
        border: dashed;
        text-align: center;
    }
</style>
<h2 style="text-align : center; padding-right : 3em; font-family : 'Trebuchet MS'">My Weather</h2>
@using (Html.BeginForm("Weather", "Home", FormMethod.Post))
{
   
    <div class="wrap">
        <br />
        <p class="tebox"> Ex: 28310 and US</p>
        <p class="tebox">Enter Zip Code: @Html.TextBoxFor(x => x.ZipCode)</p>
        <p class="tebox">Enter Country Code: @Html.TextBoxFor(x => x.CountryCode)</p>
        <div style="text-align : center; padding-right: 15em;">
            <input type="submit" value="Submit" style="font-family : 'Trebuchet MS'; border : groove;"/>
        </div>
        <br />
    </div>
}

